body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    /* Light Grey */
    color: #333333;
    /* Dark Grey */
    margin: 0;
    padding: 0;
}

header {
    padding: 2em;
    text-align: center;
    background-color: #1565C0;
    /* Dark Blue */
}

.bg-dark-blue {
    background-color: #1565C0;
    /* Dark Blue */
}

.bg-medium-blue {
    background-color: #1976D2;
    /* Medium Blue */
}

.text-dark-blue {
    color: #1976D2;
    /* Medium Blue */
}

.slide-in {
    animation: slide-in 1s ease-out;
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
        opacity  : 0;
    }
    to {
        transform: translateY(0);
        opacity  : 1;
    }
}

.card-title {
    color: #1976D2;
    /* Medium Blue */
}

.card {
    border-left: 5px solid #1976D2;
    /* Medium Blue */
    transition : transform 0.3s ease-in-out;
}

.hover-zoom:hover {
    transform: scale(1.05);
}

a {
    color: #FFC107;
    /* Yellow */
}

a:hover {
    color: #FFA000;
    /* Darker Yellow */
}
